.content {
		padding-top: var(--status-bar-height);
	}
	.top-bar {
		width: 100%;
		position: fixed;
		padding-top: var(--status-bar-height);
		top: 0;
		left: 0;
		height: 88rpx;
		box-sizing: border-box;
		background-color: rgba(255,255,255,0.96);
		// box-shadow: 0rpx 1rpx 0rpx 0rpx rgba(0, 0, 0, 1);
		// padding-left: $uni-spacing-row-base;


		.top-bar-left {
			float: left;
			padding-left: $uni-spacing-row-base;

			image {
				width: 68rpx;
				height: 68rpx;
				border-radius: 16rpx;
				margin-top: 10rpx;
			}
					.back-img {
						margin-top: 21rpx;
						width: 26rpx;
						height: 46rpx;
					}
			.text {
				font-size: $uni-font-size-lg;
				color: $uni-text-color;
				line-height: 88rpx;
				font-weight: 500;
			}
		}

		.top-bar-center {
			position: absolute;
			text-align: center;
			left: 0;
			right: 0;
			top: 0;
			margin: auto;
			bottom: 0;

			.logo {
				width: 88rpx;
				height: 42rpx;
				padding-top: 19rpx;
			}
		}

		.top-bar-right {
			float: right;
			padding-right: 14rpx;

			.search {
				width: 88rpx;
				height: 88rpx;
				display: inline-block;
			}

			.add {
				width: 88rpx;
				height: 88rpx;
				display: inline-block;
			}
		.text {
				font-size: $uni-font-size-lg;
				color: $uni-text-color;
				line-height: 88rpx;
				font-weight: 500;
			}
			image {
				padding: 18rpx 0 0 18rpx;
				width: 52rpx;
				height: 52rpx;
			}
		}
	}
